{% extends 'base.html' %}

{% block main_block %}
        <p>

        <h3>Sorry, you have lost!</h3>
        <h3>Mistakes:</h3>
        Your word was: <b> {{ sourceword }} </b>
        <ul>

               {% for word in words %}

            <li>
                {{ word[0] }}
                   {% for element in word[1] %}
                      {{ element[0:] }}
                    {% endfor %}
                {% endfor %}
            </li>

        </ul>

    <br>
    <a href="/running"><button type="submit">Play again!</button></a><br><br>
    <a href="/"><button type="submit">View the rules</button></a>

{% endblock %}